nav {
	background-color: rgb(53, 41, 25);
	
}
.list1 {
	list-style-type: none;
	overflow: hidden;
}
li {
	float: left;
}
li a {
	display: flex;
	align-items: end;
	padding: 20px;
	font-size: 1.2em;
}
a {
	text-decoration: none;
	color: white;
	display: flex;
	justify-content: center;
	margin-left: 200px;

}
p {
	display: block;
	margin: 0;
}
